In [2]:
# Example of loading data into df
import pandas as pd

# Load data into df
df = pd.read_csv('loan_payments_data.xlsx')  # Adjust the file path accordingly
print(df)

             id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade  ... recoveries  \
0      36 months      7.49      248.82     A        A4  ...       0.00
1      36 months      6.99      407.52     A        A3  ...       0.00
2      36 months      7.49      497.63     A        A4  ...       0.00
3      36 months     14.31      514.93     C        C4  ...       0.00
4      36 months      6.03      456.54     A        A1  ...       0.00
...          ...       ...         ...   ...       ...  ...        ...
54226  36 months      9.01      159.03     B        B2  ...       0.00
54227  36 months     10.59      162.73     C        C2  ...       0.00
54228  36 months      7.43      108.77     A        A2  ...       0.00
54229  36 months      7.43      155.38     A        A2  ...       0.00
54230  36 months     11.54      164.98     C        C5  ...     182.27

      collection_recovery_fee  last_payment_date last_payment_amount  \
0                        0.00           Jan-2022              248.82
1                        0.00           Jan-2022              407.52
2                        0.00           Oct-2021            12850.16
3                        0.00           Jun-2021            13899.67
4                        0.00           Jan-2022              456.54
...                       ...                ...                 ...
54226                    0.00           Jul-2016              160.61
54227                    0.00           Oct-2016              490.01
54228                    0.00           Sep-2016              110.58
54229                    0.00           Mar-2014                0.00
54230                    1.84           Mar-2014              164.97

      next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0              Feb-2022              Jan-2022                        0.0
1              Feb-2022              Jan-2022                        0.0
2                   NaN              Oct-2021                        0.0
3                   NaN              Jun-2021                        0.0
4              Feb-2022              Jan-2022                        0.0
...                 ...                   ...                        ...
54226               NaN              Jul-2016                        NaN
54227               NaN              Sep-2016                        0.0
54228          Sep-2016              May-2013                        NaN
54229               NaN              May-2013                        NaN
54230          Dec-2014              Jan-2015                        NaN

      mths_since_last_major_derog  policy_code  application_type
0                             5.0            1        INDIVIDUAL
1                             NaN            1        INDIVIDUAL
2                             NaN            1        INDIVIDUAL
3                             NaN            1        INDIVIDUAL
4                             NaN            1        INDIVIDUAL
...                           ...          ...               ...
54226                         NaN            1        INDIVIDUAL
54227                         NaN            1        INDIVIDUAL
54228                         NaN            1        INDIVIDUAL
54229                         NaN            1        INDIVIDUAL
54230                         NaN            1        INDIVIDUAL

[54231 rows x 43 columns]

In [3]:
from data_transform import DataTransform

# Assuming df is your DataFrame
transformer = DataTransform(df)

# Specify columns to transform
date_columns = ['issue_date', 'last_payment_date', 'next_payment_date', 'last_credit_pull_date']
numeric_columns = ['loan_amount', 'funded_amount', 'int_rate', 'annual_inc']
categorical_columns = ['grade', 'sub_grade', 'home_ownership', 'loan_status', 'purpose']
columns_with_symbols = ['last_payment_amount']

In [20]:
# Apply transformations
df = transformer.convert_date_columns(date_columns)
df = transformer.convert_numeric_columns(numeric_columns)
df = transformer.convert_to_categorical(categorical_columns)
print(df)

             id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade  ... recoveries  \
0      36 months      7.49      248.82     A        A4  ...       0.00
1      36 months      6.99      407.52     A        A3  ...       0.00
2      36 months      7.49      497.63     A        A4  ...       0.00
3      36 months     14.31      514.93     C        C4  ...       0.00
4      36 months      6.03      456.54     A        A1  ...       0.00
...          ...       ...         ...   ...       ...  ...        ...
54226  36 months      9.01      159.03     B        B2  ...       0.00
54227  36 months     10.59      162.73     C        C2  ...       0.00
54228  36 months      7.43      108.77     A        A2  ...       0.00
54229  36 months      7.43      155.38     A        A2  ...       0.00
54230  36 months     11.54      164.98     C        C5  ...     182.27

      collection_recovery_fee  last_payment_date last_payment_amount  \
0                        0.00         2022-01-01              248.82
1                        0.00         2022-01-01              407.52
2                        0.00         2021-10-01            12850.16
3                        0.00         2021-06-01            13899.67
4                        0.00         2022-01-01              456.54
...                       ...                ...                 ...
54226                    0.00         2016-07-01              160.61
54227                    0.00         2016-10-01              490.01
54228                    0.00         2016-09-01              110.58
54229                    0.00         2014-03-01                0.00
54230                    1.84         2014-03-01              164.97

      next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0            2022-02-01            2022-01-01                        0.0
1            2022-02-01            2022-01-01                        0.0
2                   NaT            2021-10-01                        0.0
3                   NaT            2021-06-01                        0.0
4            2022-02-01            2022-01-01                        0.0
...                 ...                   ...                        ...
54226               NaT            2016-07-01                        NaN
54227               NaT            2016-09-01                        0.0
54228        2016-09-01            2013-05-01                        NaN
54229               NaT            2013-05-01                        NaN
54230        2014-12-01            2015-01-01                        NaN

      mths_since_last_major_derog  policy_code  application_type
0                             5.0            1        INDIVIDUAL
1                             NaN            1        INDIVIDUAL
2                             NaN            1        INDIVIDUAL
3                             NaN            1        INDIVIDUAL
4                             NaN            1        INDIVIDUAL
...                           ...          ...               ...
54226                         NaN            1        INDIVIDUAL
54227                         NaN            1        INDIVIDUAL
54228                         NaN            1        INDIVIDUAL
54229                         NaN            1        INDIVIDUAL
54230                         NaN            1        INDIVIDUAL

[54231 rows x 43 columns]